/*
 * Audiovisualization using the html canvas element.
 * ©2017, Dominik Hofacker
 * https://www.behance.net/dominikhofacker
 * Please consider supporting this project on behance:
 * https://www.behance.net/gallery/49260123/Web-Audio-Visualization
 */
body {
    background:#000;
    overflow: hidden;
}

input, button, #loading {
	position: absolute;
	top: 10px;
	left: 5px;
    display: block;
    z-index: 999;
    
}

#useMicButton {
	top: 70px;
}

#loading {
	display: inline-block;
	top: 44px; 
	left: 110px;
	font-family: "Roboto", sans-serif; 
	font-size: 12px;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}
